
@mixin new {
    .new {

        top: 10%;
        left: calc(100% + 10px);
        font-size: 5px;
        display: inline-block;
        text-transform: lowercase;
        line-height: 15px;
        padding: 0 5px;
        font-weight: 600;
        background: var(--new-cl);
        position: absolute;

        .txt__new {
            color: #fff;
            font-size: 10px;
        }
    }
}

@mixin hot {
    .hot {
        top: 10%;
        left: calc(100% + 10px);
        font-size: 5px;
        display: inline-block;
        text-transform: lowercase;
        line-height: 15px;
        padding: 0 5px;
        font-weight: 600;
        background: var(--hot-cl);
        position: absolute;

        .txt__hot {
            color: #fff;
            font-size: 10px;
            background: var(--hot-cl);
        }

    }
}

@mixin big__menu__home {
    width: 650px;
    position: absolute;
    top: 100;
    transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    background: #fff;
    z-index: 999;

    .all {
        padding: 20px;
        @include cart__item__style;
    }
 
}

@mixin blog__menu {
    background: #fff;
    width: 280px;
    position: absolute;
    top: 100;
    left: 46%;
    transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    z-index: 999;

    .cart__item {
        padding: 20px 0px;

        .child__ul {
            list-style: none;
            text-transform: none;

            .child__li {
                padding: 8px 10px;
                line-height: normal;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                &:hover {
                    .child__ul__item {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(-30px);
                    }
                }

                h3 {
                    color: #000;
                    font-weight: 700;
                    cursor: pointer;
                    letter-spacing: 1px;

                    &:hover {
                        font-weight: 900;
                    }
                }

                a {
                    cursor: pointer;

                    &:hover {
                        span {
                            color: #000;

                            &::before {
                                opacity: 1;
                                visibility: visible;
                            }
                        }


                    }

                    span {
                        font-size: 12px;
                        color: rgb(26, 25, 25);
                        font-weight: 700;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: .2rem;
                            background: var(--hot-cl);
                            top: 110%;
                            visibility: hidden;
                            opacity: 0;
                            transition: .3s ease;
                        }

                    }
                }

                .rightArrow__icon {
                    cursor: pointer;
                }

                .child__ul__item {
                    position: absolute;
                    right: -72%;
                    list-style: none;
                    top: 100%;
                    transform: translateY(20px);
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s ease;

                    .child__li__item {
                        padding: 8px 40px 8px 10px;
                        background: #fff;
                    }

                }

            }
        }
    }
}

@mixin pages__menu {
    width: 550px;
    position: absolute;
    top: 100;
    transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    z-index: 999;
    background: #fff;
    @include cart__item__style;

    @include btwRsp(1020px, 1200px) {
        left: 43%;
    }

    .all {
        padding: 20px;
    }
}

@mixin big__menu__shop {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 100;
    left: 0;
    background: #fff;
    transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    color: #000;
    padding: 20px;

    .left__side {
        @include cart__item__style;

        .left__side__contain {
            border-bottom: .7px solid rgb(218, 218, 218);
            padding-bottom: 10px;
        }

        .offers {
            padding: 20px 0px;

            .icon__side {
                line-height: 20px;

                .icon {
                    font-size: 40px;
                    color: gray;
                }
            }

            .txt__side {
                line-height: normal;
                cursor: default;

                h3 {
                    letter-spacing: 1px;
                    font-weight: 900;
                    color: #000;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 10px;
                }
            }
        }
    }

    // .right__side {
    //     .contain {
    //        position: relative;
    //     }
    // }
}

@mixin big__menu__active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}

@mixin cart__item__style {
    .cart__item {

        .child__ul {
            list-style: none;
            text-transform: none;

            .child__li {
                padding: 8px 0px;
                line-height: normal;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    color: #000;
                    font-weight: 700;
                    cursor: pointer;
                    letter-spacing: 1px;

                    &:hover {
                        font-weight: 900;
                    }
                }

                a {
                    cursor: pointer;
                    @include hot;

                    @include new;

                    &:hover {
                        span:not(.new, .txt__new):not(.hot, .txt__hot) {
                            color: #000;

                            &::before {
                                opacity: 1;
                                visibility: visible;
                            }
                        }


                    }

                    span {
                        font-size: 12px;
                        color: rgb(26, 25, 25);
                        font-weight: 700;
                        position: relative;

                        .icon {
                            padding-right: 5px;
                            font-size: 16px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: .2rem;
                            background: var(--badge-cl);
                            top: 110%;
                            visibility: hidden;
                            opacity: 0;
                            transition: .3s ease;
                        }

                    }
                }


            }
        }
    }
}

@mixin count__btn {
    .count__btn {
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        font-size: 20px;
        box-shadow: 0 0 5px rgb(0 0 0 / 8%);
         width: 96px;
        .btn {
            padding: 1px 5px;
            background-color: #f9f9f9;
            border: none;
            cursor: pointer;
            min-width: 25px;
            border-radius: 0;
            outline: none;
            min-width: 25px;
            padding: 20px 5px;
            font-weight: 800;
            color: #848484;
        }

        .minus {
            border-right: 1px solid #e0e0e0;
        }

        .plus {
            border-left: 1px solid #e0e0e0;
        }

        span {

            padding: 15px 15px;
        }
    }
}

@mixin addToCart {
    .addToCart {
        .addToCart__btn {
            width: 100%;
            padding: 20px 70px;
            outline: none;
            border: none;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            transition: .3s ease;
            cursor: pointer;
            background: #83b828;
            font-family: 'Nunito Sans', sans-serif;

            &:hover {
                background: #838282;
            }
        }

    }
}

@mixin checkout($width) {
    .checkout {
        .checkout__btn {
            width: $width;
            background: #000;
            color: #fff;
            outline: none;
            border: none;
            padding: 20px 60px;
            font-weight: 700;
            font-family: 'Nunito Sans', sans-serif;
            cursor: pointer;

            &:hover {
                background: #4C4C4C;
            }

        }
    }
}

@mixin login__register__btn {
    .login__register__btn {
        width: 100%;
        background: #f76b6a;
        color: #fff;
        font-weight: 700;
        padding: 0 10px;
        min-height: 44px;
        border: none;
        text-transform: uppercase;
        transition: .3s ease;
        cursor: pointer;

        &:hover {
            background: #f58484;
        }
    }

}

@mixin collaterals__radial($top){
    @if($top == "top"){
        &::before {
            content: "";
            display: block;
            height: 10px;
            width: 100%;
            background-color: transparent;
            background-size: 20px 20px;
            background-position: 0 10px, 40px 40px;
            background-image: radial-gradient(closest-side, transparent 9px, rgba(84, 84, 84, .05) 100%);
        }
    }
    @else if $top == "bottom"{
        &::after {
            content: "";
            display: block;
            height: 10px;
            width: 100%;
            transform: rotate(180deg);
            background-color: transparent;
            background-size: 20px 20px;
            background-position: 0 10px, 40px 40px;
            background-image: radial-gradient(closest-side, transparent 9px, rgba(84, 84, 84, .05) 100%);
        }
    }
    
   
}

@mixin calculate__button{
    .calculate__button{
        padding: 15px 0;
        width: 100%;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        background: var(--checkout-bg) ;
        outline: none;
        border: none;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        transition: .3s ease;
        &:hover{
            background: #99C451;
        }
    }
}
@mixin progress__bar{
    .progress__bar {
        background: #ffe8e8;
        border: 0 solid #f5f5f5;
        height: 11px;
        position: relative;
        display: block;
        margin-bottom: 15px;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);

        div {
            width: 50.3333%;
            background-color: #f76b6a !important;
            transition: .9s linear;
            transition-property: width, background-color;
            background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
            background-size: 40px 40px;

            height: 11px;
            animation: 2s linear 0s normal none infinite running progress-bar-stripes;

        }
    }
}