:root{
    --header-bg: #FFFFFF;
    --select-cl: #99C451;
    --badge-cl: #99C451;
    --content-cl: #fff;
    --new-cl: #84d8e3;
    --hot-cl: #F96A67;
    --white-cl: #fff;
    --facebook-cl: #365493;
    --twitter-cl: #33CCFF;
    --google-cl: #D44132;
    --pinterest-cl: #CB2027;
    --instagram-cl: #774430;
    --view-cart-bg: #565656;
    --checkout-bg: #83b828;
}   
