.product__item {
    position: relative;
    // border: 1px solid red;
   
    padding: 0;
    &:hover{
        .detail__icon__side {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        .img__side{
            .shop__icon__side{
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
        }
       
    }
    .img__side {
        height: 300px;
        position: relative;
        a {
            &:hover {
                .hover__img {
                    opacity: 1;
                    visibility: visible;
                }
              
            }

            img {
                width: 100%;
                height: 100%;
            }

            .hover__img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease;
                height: 300px;
                transition: .5s ease;
            }

            .overlay {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 100;
                background-color: red;
            }

        }
    
        .shop__icon__side {
            position: absolute;
            bottom: -30px;
            right: 0;
            line-height: normal;
            padding: 10px 10px 10px 0;
            font-size: 1.3rem;
            transform: translateX(20px);
            opacity: 0;
            transition: .5s ease;
            .shop__icon__link {
                position: relative;
                text-align: center;
                border-radius: 50%;
                background: var(--badge-cl);
                width: 40px;
                height: 40px;
                line-height: 45px;
                display: inline-block;
                border: 1px solid rgba(119, 119, 119, .15);
                font-size: 20px;
                .shop__icon{
                    color: #fff;
                }
                &::after {
                    content: 'Quick Shop';
                    text-transform: none;
                    position: absolute;
                    right: 40px;
                    top: 10px;
                    font-size: 12px;
                    padding: 5px 8px;
                    white-space: nowrap;
                    background: rgb(71, 71, 71);
                    color: #fff;
                    transform: translateX(20px);
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s ease;
                    line-height: normal;
    
                }
                &:hover {
                    
                    &::after {
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(0);
                    }
    
                }
            
            }
        }


    }
    .discount__info__side{
        position: absolute;
        top: 4%;
        left: 0;
        line-height: normal;
        
        .discount__info{
            padding: 5px 26px;
            background: var(--badge-cl);
            font-size: 10px;
            color: #fff;

        }
    }
    .favourite__icon__side {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        line-height: normal;
        padding: 16px 20px 10px 0;
        font-size: 1.3rem;
     
        .heart__icon__link {
            position: relative;
           
            &::after {
                content: 'Login to use Wishlist';
                text-transform: none;
                position: absolute;
                right: 30px;
                top: 0px;
                font-size: 12px;
                padding: 5px 8px;
                white-space: nowrap;
                background: rgb(71, 71, 71);
                color: #fff;
                transform: translateX(30px);
                opacity: 0;
                visibility: hidden;
                transition: .3s ease;

            }

            &:hover {
                .heart__icon {
                    animation: heart__beat 1s infinite;
                }

                &::after {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }

            }

        }

    }
    .detail__icon__side {
        position: absolute;
        top: 10%;
        right: 0;
        line-height: normal;
        padding: 10px 10px 10px 0;
        font-size: 1.3rem;
        transform: translateX(30px);
        opacity: 0;
        transition: .3s ease;
        visibility: hidden;
        .detail__icon__link {
            position: relative;
            text-align: center;
            border-radius: 50%;
            background: #383838;
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: inline-block;
            border: 1px solid rgba(119, 119, 119, .15);
            font-size: 20px;
            .preview__icon {
                color: #fff;
            }
            &::after {
                content: 'Quick view';
                text-transform: none;
                position: absolute;
                right: 40px;
                top: 8px;
                font-size: 12px;
                padding: 5px 8px;
                white-space: nowrap;
                background: rgb(71, 71, 71);
                color: #fff;
                transform: translateX(20px);
                opacity: 0;
                visibility: hidden;
                transition: .3s ease;
                line-height: normal;

            }
            &:hover {
                
                &::after {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }

            }
        
        }
    }
    

    .info__side {
        text-align: left;
        margin-top: 20px;
        .slider__info {
            .title {

                cursor: pointer;
               color: #000;
               transition: .3s ease;
               font-weight: 400;
               font-size: 18px;

                &:hover {
                    color: var(--badge-cl);
                }
            }
        }
        .discount{
            color: red;
            font-size: 26px;
            .old__price{
                color: #000;
                font-size: 20px;
                margin-right: 10px;
            }
        }

        .price {
            
            font-size: 20px;
        }

    }


}

.swiper-pagination {
    top: 80% !important;
    
}

@keyframes heart__beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}