
.login__register__sidebar{
    width: 400px;
    height: 100vh;
    background: var(--white-cl);
    position: fixed;
    top: 0;
    right: -500px;
    z-index: 999;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    
    .head {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 0px;
        border-bottom: 1px solid rgb(190, 190, 190);

        h2 {
            font-size: 16px;
            height: 40px;
            display: flex;
            min-width: 240px;
            cursor: pointer;
            letter-spacing: .3px;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            position: relative;
            font-weight: 800;
            color: gray;
            letter-spacing: 1.5px;

            &.active {
                background: #83b828;
                color: #fff;
            }
        }

        button {
            outline: none;
            border: none;
            background: none;
            cursor: pointer;

            .close__btn__icon {
                font-size: 18px;
            }
        }

    }
    .form__body{
        .login__form{
            margin: 20px;
            border-bottom: 1px solid #e2e2e2;
            .login__form__side{
                .email__password__side{
                    margin-bottom: 20px;
                    label{
                        display: inline-block;
                        font-size: 14px;
                        color: #1b1919;
                        font-weight: 400;
                        margin-bottom: 5px;
                        span{
                            color: red;
                        }
                    }
                    .email__password__box{
                        position: relative;
                        input{
                            width: 100%;
                            height: 40px;
                            border: 1px solid  rgba(129,129,129,.25);
                            padding-left: 50px !important;
                            font-size: 14px;
                            line-height: 18px;
                            padding: 0 10px;
                            transition: .5s ease;
                            border-radius: 0;
                            box-shadow: none;
                            overflow: visible;
                            outline: none;
                            &:focus {
                                border: 1px solid gray;
                            }
                            &:focus + .user__icon {
                                border-right: 1px solid gray;
                            }
                            
                        }
                        .user__icon{
                            position: absolute;
                            width: 50px;
                            font-size: 30px;
                            line-height: 38px;
                            border-right: 1px solid #ccc;
                            top: 4px;
                            left: 0;
                            bottom: 1px;
                            text-align: center;
                        }
                        .hide__show__icon{
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 40px;
                            font-size: 30px;
                            text-align: center;
                            line-height: 50px;
                            display: inline-block;
                            cursor: pointer;
                            .hide__icon, .show__icon{
                                position: relative;
                                display: inline-block;
                                
                            }
                            .d-none{
                                display: none;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
.active__login__register__sidebar {
    opacity: 1;
    visibility: visible;
    right: 0%;
}
.overlay__login__register__sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: none;
    background: rgba(0, 0, 0, .7);
}
.active__overlay__login__register__sidebar{
display: block;

}