.common__section{
    width: 100%;
    background: #F6F6F8;
    .all{
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .breadcrumb{
            align-items: center;
            a{
                color: #000;
                margin-right: 5px;
                &:nth-last-child(1){
                    color: #c9c9c9;
                }
            }
        }
    }
}
.d-flex{
    display: flex;
}