@use '../../Assets/scss/main.scss';

#header {
    background: var(--header-bg);
    
    .upper__header {
        border-bottom: 1px solid rgb(219, 219, 219);
        line-height: 42px;
        position: relative;
        .overlay{
            position: absolute;
            top: 100%;
            height: 100vh;
            opacity: 0;
            visibility: hidden;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .contact {
                .main_ul {
                    list-style: none;
                    display: flex;
                    column-gap: .8rem;

                    a {
                        color: #000;

                        span {
                            color: gray;
                            font-weight: 400;
                        }
                    }

                }
            }

            .content {
                display: flex;
                align-items: center;
                
                span {
                    position: relative;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 300;
                    color: grey;
                    &:hover {
                        
                        .select{
                            opacity: 1;
                            visibility: visible;
                            li{
                          
                                &:nth-child(1){
                                    transform: translateX(0px);
                                }
                                &:nth-child(2){
                                    transform: translateX(0px);
                                }
                                &:nth-child(3){
                                    transform: translateX(0px);
                                }
                            }
                        }
                    }

                    i {
                        font-size: 12px;
                    }
                    .select{
                        position: absolute;
                        line-height: normal;
                        list-style: none;
                        background: #FEFFFE;
                        opacity: 0;
                        visibility: hidden;
                        right: 0%;
                        top: 100%;
                        width: 150px;
                        transition: .3s ease;
                        box-shadow:  -6px 2px 51px -10px rgba(0,0,0,0.41);
                        li{
                            padding: 10px;
                            text-align: left;
                            transition: .3s ease;
                            &:hover{
                                color: var(--select-cl);
                            }
                            &:nth-child(1){
                                transform: translateX(-1px);
                            }
                            &:nth-child(2){
                                transform: translateX(-3px);
                            }
                            &:nth-child(3){
                                transform: translateX(-5px);
                            }
                            &.active-cl{
                                color: var(--select-cl) ;
                            }
                         
                        }
                    }
                }
            }
        }

    }

}


