@use '../../Assets/scss/main.scss'as *;

#header {
    background: var(--header-bg);
    z-index: 800;

    .upper__header {
        border-bottom: 1px solid rgb(219, 219, 219);
        line-height: 42px;
        position: relative;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @include rsp(768px) {
                justify-content: center;
            }

            .contact {
                .main_ul {
                    list-style: none;
                    display: flex;
                    column-gap: .8rem;

                    a {
                        color: #000;

                        span {
                            color: gray;
                            font-weight: 400;
                        }
                    }

                }
            }

            .content {
                display: flex;
                align-items: center;

                @include rsp(768px) {
                    display: none;
                }

                span {
                    position: relative;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 300;
                    color: grey;

                    &:hover {

                        .select {
                            opacity: 1;
                            visibility: visible;

                            li {

                                &:nth-child(1) {
                                    transform: translateX(0px);
                                }

                                &:nth-child(2) {
                                    transform: translateX(0px);
                                }

                                &:nth-child(3) {
                                    transform: translateX(0px);
                                }
                            }
                        }
                    }

                    i {
                        font-size: 12px;
                    }

                    .select {
                        position: absolute;
                        line-height: normal;
                        list-style: none;
                        background: #FEFFFE;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 100;
                        right: 0%;
                        top: 100%;
                        width: 150px;
                        transition: .6s ease;
                        box-shadow: -6px 2px 51px -10px rgba(0, 0, 0, 0.41);

                        li {
                            padding: 10px;
                            text-align: left;
                            transition: .3s ease;

                            &:hover {
                                color: var(--select-cl);
                            }

                            &:nth-child(1) {
                                transform: translateX(-1px);
                            }

                            &:nth-child(2) {
                                transform: translateX(-3px);
                            }

                            &:nth-child(3) {
                                transform: translateX(-5px);
                            }

                            &.active-cl {
                                color: var(--select-cl);
                            }

                        }
                    }
                }
            }
        }

    }

    .main__header {
        background: #fff;
        width: 100%;
        z-index: 800;

        transition: .3s ease;

        &.sticky__header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 800 ;
            border: none;
            
            box-shadow: 0 1px 5px rgb(190 190 190 / 50%);

        }

        .container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .burger__icon__side {
                font-size: 20px;
                line-height: 80px;

                @include minRsp(1024px) {
                    display: none;
                }

                .burger__icon {
                    display: none;

                    @include rsp(1024px) {
                        display: block;
                    }
                }

                .search__icon {
                    display: none;

                    @include rsp(736px) {
                        display: block;
                    }
                }

            }

            .logo__side {
                @include rsp(1024px) {
                    a {
                        padding-left: 50px;
                    }
                }

                a {
                    display: flex;

                    img {
                        align-items: center;
                        width: 100px;
                        padding: 10px 0px;

                    }
                }
            }

            .navbar {
                line-height: 80px;

                @include rsp(1024px) {
                    display: none;
                }

                .main__ul {
                    list-style: none;
                    padding-left: 60px;

                    .main__li {
                        text-transform: uppercase;
                        letter-spacing: .1em;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 900;
                        font-size: 12px;

                        &:hover {
                            a:not(.slider__item a) {
                                color: var(--select-cl);
                            }

                            .big__menu__home {
                                @include big__menu__active;
                            }

                            .big__menu__shop {
                                @include big__menu__active;
                            }

                            .blog__menu {
                                @include big__menu__active;
                            }

                            .pages__menu {
                                @include big__menu__active;
                            }
                        }

                        a {
                            transition: .3s ease;
                            color: #555;

                            .downArrow__icon {
                                font-size: 12px;
                            }

                            .badge__shop {
                                position: absolute;
                                top: 10px;
                                font-size: 10px;
                                left: 45%;
                                font-weight: 700;
                                background: var(--badge-cl);
                                line-height: normal;
                                color: #fff;
                                padding: 3px 3px;
                            }

                            .badge__buyTheme {
                                @extend .badge__shop;
                                left: 60%;

                            }

                        }

                        // Home big menu
                        .big__menu__home {
                            @include big__menu__home;
                        }

                        // Shop big menu
                        .big__menu__shop {
                            @include big__menu__shop;
                        }

                        // Blog menu
                        .blog__menu {
                            @include blog__menu;
                        }

                        // Pages menu
                        .pages__menu {
                            @include pages__menu;
                        }


                    }
                }
            }

            .cart__side {
                .items {
                    list-style: none;

                    .item {
                        font-size: 20px;
                        padding-right: 20px;

                        @include rsp(736px) {
                            &:nth-last-child(even) {
                                display: none;
                            }
                        }

                        .search__icon,
                        .user__icon {
                            font-size: 20px;
                        }

                        .icon {
                            cursor: pointer;
                        }

                        button {
                            outline: none;
                            border: none;
                            background: none;
                        }

                        &:nth-last-child(-n+2) {
                            position: relative;

                            .badge {
                                position: absolute;
                                top: -10px;
                                right: 10px;
                                padding: 0 5px;
                                width: 1.1rem;
                                height: 1.1rem;
                                font-size: .9rem;
                                border-radius: 100%;
                                background-color: var(--badge-cl);
                                color: #fff;

                                &.animation__badge {
                                    transition: 1s ease;
                                    animation: badges__shake infinite;
                                    animation-duration: 3s;
                                    animation-delay: 1s;

                                    @keyframes badges__shake {
                                        0% {
                                            transform: translateY(0px);
                                        }

                                        50% {
                                            transform: translateY(-5px);
                                        }

                                        100% {
                                            transform: translateY(0px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}