@use '../../Assets/scss/main.scss' as *;

#footer {
    padding: 80px 0px 0px 0px;
    .footer__up__border{
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        padding-bottom: 40px;
        .footer__up {
            width: 70%;
            margin: auto;
          
     
            @include rsp(1400px){
             width: 90%;
             margin: auto;
            }
             .box {
                 img {
                     max-width: 106px;
                     min-width: 96px;
                 }
                
                 .icons {
                     align-items: center;
                     justify-content: start;
     
                     i {
                         padding: 5px;
                         margin-left: 5px;
                         border-radius: 50px;
                         color: #8f8f8f;
                         background: #e9e9e9;
                         transition: .3s ease;
                         cursor: pointer;
     
                         &:hover {
                             color: white;
     
                             &:nth-child(1) {
                                 background-color: var(--facebook-cl);
                             }
     
                             &:nth-child(2) {
                                 background-color: var(--twitter-cl);
                             }
     
                             &:nth-child(3) {
                                 background-color: var(--google-cl);
                             }
     
                             &:nth-child(4) {
                                 background-color: var(--pinterest-cl);
                             }
     
                             &:nth-child(5) {
                                 background-color: var(--instagram-cl);
                             }
                         }
                     }
                 }
     
                 h1 {
                     font-weight: 800;
                 }
     
           
                     
                   
                     h1 {
                         font-size: 24px;
                         margin-right: 50px;
                         font-family: "Nunito Sans", sans-serif;
                     }
                     .input__content{
                         display: flex;
                         align-items: center;
                         .subscribe__input {
                             margin-right: 5px;
                             border: 1px solid gray;
                             outline: none;
                             padding: 0.75em;
                             height: 40px;
                             max-width: 100%;
                             width: 100%;
                             background: #fff;
                             transition: color .3s, border .1s;
         
                             &:focus {
                                 border: 1px solid rgb(73, 73, 73);
                             }
                         }
         
                         .input__btn {
                             .subscribe__btn {
                                 display: inline-block;
                                 background-color: var(--badge-cl);
                                 color: #fff;
                                 text-transform: uppercase;
                                 font-size: .97em;
                                 touch-action: none;
                                 cursor: pointer;
                                 font-weight: bolder;
                                 text-align: center;
                                 text-decoration: none;
                                 border: 1px solid transparent;
                                 text-shadow: none;
                                 line-height: 37px;
                                 min-height: 37px;
                                 padding: 0 1.2em;
                                 max-width: 100%;
                             }
                         }
                     }
                    
     
                 
                 .main__ul{
                     list-style: none;
                     .main__li{
                         padding: 6px 0;
                         &.date{
                             border-bottom: 1px solid rgb(185, 185, 185);
                         }
                         &.date{
                             span{
                                 display: inline-block;
                                 width: 50%;
                             }
                         }
                         &.payment{
                             margin-top: 10px;
                             text-align: right;
                         }
                      
                         .date__time__week{
                             text-align: left;
                         }
                         .date__time__day{
                             text-align: right;
                         }
                         span{
                             color: rgb(124, 124, 124);
                             transition: .3s ease;
     
                         }
                         a{
                             &:hover{
                                 span{
                                 color: var(--select-cl);
     
                                 }
                             }
                         }
                         .payment{
                             display: flex;
                             align-items: center;
                             list-style: none;
                             justify-content: end;
                             .payment__item{
     
                             }
                         }
                     }
                 }
             }
     
         }
    }
   
    .footer__bottom{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
            a{
                color: #F86B81;
            }
        }
       
    }
}