.related__product{
    padding-top: 50px;
    .head__title{
        padding-bottom: 50px;
        font-family: 'Nunito Sans', sans-serif;
        
        h1{
            font-size: 30px;
        }
    }
}