.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: auto !important;
    height: auto !important;
    opacity: 0 !important;
    visibility: hidden !important;
    padding: 10px !important;
    margin-top: -22px !important;
    z-index: 10 !important;
    cursor: pointer !important;
    color: #fff !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    border-radius: 22px !important;
    transition: .3s ease !important;
}



.swiper__slide:hover {
    .swiper-button-next,.swiper-button-prev{
        opacity: 1 !important;
        visibility: visible !important;
    }
    .swiper-button-next{
        right: 5px !important;
        
    }
    .swiper-button-prev{
        left: 5px !important;
    }
    
}

.swiper-button-prev {
    transition: .3s ease !important;
    left: 10px !important;
}

.swiper-button-next {
    transition: .3s ease !important;
    right: 10px !important;
}
.swiper-pagination-bullet-active {
    background-color: #39352E !important;
}