@use '../../Assets/scss/main.scss' as * ;

.swiper-button-prev,
.swiper-button-next {
    width: auto !important;
    height: auto !important;
    opacity: 0 !important;
    visibility: hidden !important;
    padding: 10px !important;
    margin-top: -22px !important;
    z-index: 10 !important;
    cursor: pointer !important;
    color: rgb(216, 216, 216) !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    border-radius: 22px !important;
    transition: .3s ease !important;
    &:hover{
        color: rgb(138, 138, 138) !important;

    }
}



.swiper:hover {
    .swiper-button-next,.swiper-button-prev{
        opacity: 1 !important;
        visibility: visible !important;
        
    }
    .swiper-button-next{
        right: 5px !important;
        
    }
    .swiper-button-prev{
        left: 5px !important;
    }
    
}
.swiper-button-prev,.swiper-button-next{
    transition: .3s ease !important;
    @include rsp(768px){
        display: none !important;
    }
    
}
.swiper-button-prev {
    left: 20px !important;
}

.swiper-button-next {
    right: 20px !important;
}
.swiper-pagination-bullet-active {
    background-color: #39352E !important;
    
}

.swiper-pagination{
    top: 93% !important;
  
}